body{
    max-width: 960px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(245,235,216);
    color: rgb(63,72,40);
    font-family: "Noto Serif";
    font-size: 12pt;
}

a{
    color: rgb(63,72,40);
    text-decoration: underline;
    font-weight: bold;
}

.box{
    margin-bottom: 60px;
}
