header{
    text-align: center;
    font-weight: bold;
    color: #454a2e;
}

body{
    max-width: 960px;
    margin: auto;
    text-align: center;
    background-color: #f5ebd8;
}

footer{
    text-align: center;
    font-weight: bold;
    color:#454a2e;
}

