.content{
    max-width: 960px;
    margin: auto;
    text-align: center;
}

#title{
    text-align: center;
    font-weight: bold;
    color: #454a2e;
}

#footer{
    text-align: center;
    font-weight: bold;
    color:#454a2e;
}

body{
    background-color: #f5ebd8;
}

h1{
    color: #454a2e;
}
p{
    color: #454a2e;
}
a{
    color: #454a2e;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    display: inline-block;
}