body {
    max-width: 827px;
    margin: auto;
    background-color: rgb(241,233,211);
    color: rgb(61,73,41);
}

p {
    font-family: "Noto Serif";
    font-size: 17px;
}

a {
    color: rgb(61,73,41);
    text-decoration: underline;
    font-weight: bold;
}

.ascii {
    font-family: monospace;
    white-space: pre;
}

#header {
    text-align: center;
}

#leftknot {
    float: left;
    margin-right: 53px;
}

#rightknot {
    float: right;
    margin-left: 53px;
}

#gryphon {
    text-align: center;
}